.wrapper {
  margin-top: 100px !important;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;

  .title {
    font-size: 1.875rem;
    font-weight: bold;
  }
  .description {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .experience {
    display: flex;
  }
  .year {
    margin-right: 50px;
    color: rgb(175, 222, 255);
  }
  .desExperience,
  .year {
    font-size: 1rem;
  }

  .review,
  .footerCard {
    font-size: 1rem;
  }
  .footerCard {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .desFooter {
    margin-bottom: 0;
  }
}
.content {
  background: rgb(240, 245, 249);
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;

  .doctorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .doctorTittle,
  .doctorName,
  .doctorRate,
  .doctorPosition,
  .doctorExperience {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .doctorTittle {
    font-weight: bold;
    font-size: 1.5rem !important;
  }
  .doctorName {
    font-weight: 550;
  }

  .doctorImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 1.5rem 1rem;
  }
}
@media screen and (max-width: 766px) {
  .doctorImage {
    display: none !important;
  }
}
