.wrapper {
  border: 1px solid rgb(238, 240, 241);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  .filterTitle {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .filterCheckbox {
    margin-bottom: 10px;
    font-size: 0.87rem;
  }

  .filterButton {
    border-radius: 20px;
    color: rgb(60, 144, 201);
    font-weight: bold;
    padding: 0 50px;
  }
}
