.wrapper {
  .doctorContent,
  .doctorTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .doctorName,
  .doctorTitle,
  .doctorRate,
  .doctorPosition,
  .doctorExperience {
    margin-bottom: 10px;
  }

  .doctorName {
    font-weight: 550;
  }

  .doctorTitle {
    margin-bottom: 10px;
    font-weight: bold;
  }
}
