@import '../../../theme.less';

.heading {
  max-width: 800px;
  margin: 40px auto 60px;
  text-align: center;
}

.subtitle {
  color: @primary-color;
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0px;
}

.title {
  margin: 20px 0px 40px;
  text-align: center;
  font-size: @font-size-heading;
  font-weight: @font-weight-heading;
}
