@import '~antd/dist/antd.less';
@import 'theme.less';

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.title {
  font-size: @font-size-heading;
  font-weight: @font-weight-heading;
  color: @text-color;
}

//reset ul
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

//override antd
.ant-layout {
  background: #f7f8fc !important;
}

.ant-layout-header {
  background: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0 8px 24px -2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0px !important;
}

.ant-layout-content {
  min-height: 80vh;
  padding-top: 60px;
  background-color: #f7f9fe !important;
}

.ant-layout-footer {
  margin-top: 40px;
  background-color: #50658E;
  color: #fff;
}

.ant-picker-calendar-date {
  border: 2px solid #f0f0f0;
}

.ant-collapse, .ant-collapse-item {
  background-color: #F7FAFE;
  border-color: #e7e8ff !important;
  border-radius: 16px;
}

.ant-collapse-content  {
  border-color: #e7e8ff !important;
}

.ant-picker {
  padding: 3px 11px;
  width: 100%;
}
.ant-card {
  border-radius: 16px;
  box-shadow: @box-shadow-base;
}

.ant-drawer-close {
  font-size: 1.5rem;
}

.ant-input-number {
  width: 100%;
}

.ant-input {
  padding: 4px 11px;
}

// .ant-btn {
//   padding: 1px 4px;
// }

.ant-checkbox {
  margin-right: 20px;
}

// .ant-card-head {
//   color: #50658e;
//   font-weight: 500;
//   font-size: 1.5rem;
// }
.mobileHidden {
  display: flex;
  width: fit-content;
}
.mobileVisible {
  display: none;
}

.banner {
  background-image: url('assets/images/shape-a.png');
  height: 360px;
}

.banner-sm {
  background-image: url('assets/images/shape-a.png');
  height: 280px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .mobileHidden {
    display: none;
  }
  .mobileVisible {
    display: flex;
  }
}

.app__content {
  background: rgb(255, 255, 255);
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2a81ea;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    line-height: 1.25rem;
    font-size: 0.8125rem;
  }

  .btn__transparent {
    background-color: transparent;
    color: #2a81ea;
  }

  @media screen and (min-width: 576px) {
    .btn {
      padding: 0.6875rem 1.75rem;
      line-height: 1.5rem;
      font-size: 1rem;
    }
  }
}
